@model MvcUI.Models.Bill.CreateBillVM

@{
    ViewBag.Title = "Delete";
}
<h3>Czy jesteś pewien że chcesz usunąć rachunek?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DueAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Pozostało
        </dt>

        <dd>
            @{
                DateTime.Now.Subtract(Model.DueDate).Days.ToString();
                    } dni
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <button type="submit" value="Usuń" class="btn btn-danger" > <span class="glyphicon glyphicon-remove"></span> Usuń</button>
    <a href="@Url.Action("Index", "Bills")" class="btn btn-default">
        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Anuluj
    </a>
</div>
    }
</div>
